.main__header {
  height: 63px;
  padding: 20px 0px 10px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__header #logo {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 200px;
}
