.howto {
  padding: 45px 20px 45px 20px;
  justify-content: center;
  align-items: center;
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  @include desktop {
    padding: 0 20%;
  }
}

.howto__title {
  margin-bottom: 30px;
  @include desktop {
    position: absolute;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}
.howto__number {
  @include howto-number;
  @include tablet {
    right: 0;
    top: -15px;
  }
}
.howto__icon {
  color: #b2b2b2;
  margin: 15px;
}
