.howto {
  padding: 40px 10px 40px 10px;
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  @include desktop {
    padding: 0 20%;
  }
}

.howto__container {
  margin: 0;
  padding: 0;
}

.howto__title {
  padding: 20px 10px;
  @include desktop {
    position: absolute;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}
.howto__number {
  @include howto-number;
  @include tablet {
    right: 0;
    top: -15px;
  }
}
.howto__icon {
  color: #b2b2b2;
  margin: 0 30px;
}
