.howto__button {
  @include howto-btn;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-ligth;
    .fas {
      color: $color-primary;
    }
  }
  @include tablet {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 500px;
  }
  @include desktop {
    margin: 70px 0;
  }
}

.active {
  background-color: $color-primary-ligth;
}
