//Code couleur

$color-primary: #9356dc;
$color-primary-ligth: #f5edff;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$linear-gradient: linear-gradient(to top, #9356dc, #ff79da);
$fond-gris-footer: #353535;
$font-cursive: 'Shrikhand', cursive;
